
@media(min-width:1440px) {

    .burger-btn {
        display: none;
    }

    .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    body {
        padding: 0px 0 122px 0;
        text-align: left;
    }

    header {

        max-width: 1440px;
        padding: 0 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }

    main {
        max-width: 1145px;
        margin-top: 75px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 125px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 125px;
           -moz-column-gap: 125px;
                column-gap: 125px;
        text-align: left;
   

    }

    section {
        width: 540px;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        gap: 48px;
        margin-top: 96px;
    }

    h1 {

        font-size: 72px;
        width: 540px;

    }

    h2 {
        width: 445px;
        font-size: 18px;
        margin: 0;

    }

    main a {
        margin: 0;
    }

    .last-figure {
        padding: 0;
        margin: 111px 0 0 0;
    }


    form button {
        height: 42px;
        font-size: 14px;
        padding: 0 22px 0 22px;
    }

    form button:hover {
        background-color: #151515;
        color: white;
    }

    form button:active {
        border: 1.5px solid #686868;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        background: transparent;
        color: #151515;
    }

    .header-nav {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    header form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;


    }

    .uk,
    .geo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 40px;
    }

}