body {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100dvh;      
    margin: 0;
    user-select: none;
    position: relative;
}
h1 {
    font-size: 40px;
    color: red;
}

img{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

